* {
    margin: 0;
    padding: 0;
    font-family: "gilroy";
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    min-height: 100vh;
    width: 100%;
    /* background-color: rgb(161, 84, 84); */
    display: flex;
}

#leftcolor {
    position: relative;
    min-height: inherit;
    width: 25%;
    /* background-color: lawngreen; */
}

#leftdiv {
    position: absolute;
    height: 70%;
    width: 110%;
    /* left: 240%; */
    /* right: 0; */
    top: 20%;
    left: 30%;
    /* background-color: red; */
    padding: 10px 10px;
}

#leftdiv>h3 {
    color: rgb(29, 28, 28);
    font-size: 25px;
}

#leftdiv p {
    font-size: 13px;
    margin-top: 30px;
    margin-left: 28px;
}

#leftdiv>#btn2 {
    margin-top: 40px;
    margin-left: 25px;
    display: flex;
    /* background-color: salmon; */
}

#btn2>button {
    padding: 10px 30px;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn2>#s {
    background-color: #134D60;
    color: #C8E7E1;
    border: 1px solid transparent;
}

#btn>#a {
    background-color: #C8E7E1;
    color: #134D60;
    border: 1px solid transparent;
}

#kkkk {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #29b1df; */
    width: 40%;
}

#kkkk h3 {
    width: 80px;
    height: 35px;
    border: 1px solid #134D60;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#kkkk h3:hover {
    cursor: pointer;
}

#left h3:hover {
    cursor: pointer;
}

#rightcolor {
    min-height: 90vh;
    width: 75%;
    background-color: rgb(247, 182, 41);
    background-image: url('./dogo_3.png');
    /* background-image: url("C:/Users/USER/Documents/dojo's_techniques/Dive_in/Meow meow/dogo_3.png"); */
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 55%;
    border-top-left-radius: 10% 50%;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 60% 100%;
    border-bottom-right-radius: 90% 40%;
}

#right button:hover {
    cursor: pointer;
}

#btn2 button:hover {
    cursor: pointer;
}

#nav {
    height: 80px;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

h3 {
    margin-top: 15px;
    margin-left: 30px;
    /* font-weight: 1000; */
}

#left {
    display: flex;
    align-items: center;
    justify-content: center;
}

#left h3 {
    font-size: 1rem;
    color: rgb(97, 95, 95);
}

#dogooo {
    font-size: 18.5rem;
}

#left span {
    color: rgb(247, 182, 41);
    font-family: "voyage";
    font-weight: 1000;
    font-size: 1.5rem;
    /* margin-top: -30px; */
}

#left img {
    height: 50px;
    margin-left: 50px;
}

button {
    padding: 10px 10px;
    margin-left: 5px;
    border-radius: 2px;
}

#one {
    background-color: white;
    border: 1px solid transparent;
    color: black;
}

#right {
    display: flex;
    margin-right: 50px
}

#leftdiv h3 {
    color: #504d4d;
}

#leftdiv p {
    color: #5c5b5b;
}

#two {
    background-color: rgb(3, 80, 80);
    border: 1px solid transparent;
    color: white;
}

#btm {
    position: absolute;
    bottom: 0;
    height: 90px;
    width: 100%;
    /* background-color: cornsilk; */
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 300;
}

#logo {
    margin-left: 50px;
    color: rgb(3, 80, 80);
    font-weight: 1000;
}

#logo i:hover {
    cursor: pointer;
}

#c {
    color: rgb(3, 80, 80);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

#c:hover {
    cursor: pointer;
}

#btm i {
    margin-left: .1rem;
}

#btm h4 {
    margin-left: .3rem;
}

#e {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    color: rgb(3, 80, 80);
    font-weight: 500;
}

#e:hover {
    cursor: pointer;
}

#f {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    color: rgb(3, 80, 80);
    font-weight: 500;
}

#f:hover {
    cursor: pointer;
}

#g {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    color: rgb(3, 80, 80);
    font-weight: 500;
}

#g:hover {
    cursor: pointer;
}

#h {
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    color: rgb(3, 80, 80);
    font-weight: 500;
}

#h:hover {
    cursor: pointer;
}

#second {
    min-height: 100vh;
    width: 100%;
    display: flex;
    /* background-color: rgb(177, 168, 168); */
}

#secondleft {
    position: relative;
    width: 50%;
    min-height: inherit;
    /* background-color: goldenrod; */
}

#secondright {
    position: relative;
    width: 50%;
    min-height: inherit;
    /* background-color: pink; */
}

#dogone {
    position: absolute;
    top: 12%;
    left: 10%;
    height: 70%;
    width: 70%;
    /* background-color: blue; */
    padding: 30px 20px;
}

#dogone h5 {
    margin-left: 30px;
    color: rgb(167, 159, 159);
    font-family: "gilroy";
    font-size: 20px;
}

#dogone p {
    /* background-color: brown; */
    margin-left: 30px;
    font-size: 25px;
    margin-top: 30px;
    font-weight: 800;
    font-family: "gilroy";
    color: rgb(37, 35, 35);
}

#dogone h3 {
    margin-top: 20px;
    font-family: "montserrat";
    font-size: 15px;
    color: rgb(3, 80, 80);
}

#dogone #bn {
    margin-left: 25px;
    margin-top: 25px;
}

#dogone #as {
    padding: 8px 30px;
    /* border-radius: 5%; */
    background-color: rgb(3, 80, 80);
    border: 1px solid transparent;
    color: #C8E7E1;
}

#dogone #pr {
    padding: 8px 30px;
    border-radius: 5%;
    border: 1px solid transparent;
    color: rgb(3, 80, 80);
}

#dog {
    top: 25%;
    left: 30%;
    position: absolute;
    height: 50%;
    width: 50%;
    background-color: #29b1df;
    border-top-left-radius: 580px 500px;
    border-top-right-radius: 185px 390px;
    border-bottom-left-radius: 170px 160px;
    border-bottom-right-radius: 70% 70%;
    background-image: url(https://pngimg.com/uploads/dog/dog_PNG50355.png);
    background-position-x: -86px;
    background-position-y: -6%;
    background-size: 180%;
    background-repeat: no-repeat;
}

#nav i {
    display: none;
}

.chotuphotu {
    height: 60px;
    width: 60px;
    background-color: #94b9c5;
    border-radius: 50%;
    position: absolute;
}

#ek {
    top: 30%;
    right: 5%;
    background-image: url('./dog_PNG50355.png');
    background-position-y: -80%;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: rgb(233, 172, 19); */
}

#do {
    top: 45%;
    right: 15%;
    background-image: url('./one.png');
    background-position-y: 60%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(31, 30, 29);
}

#three {
    top: 55%;
    right: 5%;
    background-image: url('./three.png');
    background-position-y: -80%;
    background-position-x: 90%;
    background-size: cover;
    background-repeat: no-repeat;
}

#four {
    top: 75%;
    right: 15%;
    background-image: url('./ken-reid-ZRZSmK362Xw-unsplash-removebg-preview.png');
    background-size: cover;
    background-color: rgb(233, 172, 19);
    background-repeat: no-repeat;
}

#five {
    top: 60%;
    right: 50%;
    background-position-y: 50%;
    background-image: url('./five.png');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: #134D60; */
}

#six {
    top: 80%;
    right: 60%;
    background-image: url('./two.png');
    background-position-y: -30%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(17, 17, 17);
}

#paw1 {
    position: absolute;
    left: 38%;
    height: 20%;
    transform: rotate(200deg);
    /* filter: sepia(30%); */
    filter: opacity(50%);
}

@media (max-width:400px) {
    #nav {
        height: 100px;
    }
    #main {
        flex-direction: column;
    }
    #nav i {
        display: initial;
    }
    #left img {
        margin-left: 25px;
    }
    #left span {
        font-size: 26px;
        color: #504d4d;
    }
    #kkkk {
        /* opacity: 0; */
        border: 1px solid transparent;
    }
    #left #op1 {
        display: none;
    }
    #left #op2 {
        display: none;
    }
    #left #op3 {
        display: none;
    }
    #left h3 {
        display: initial;
    }
    #nav>i {
        margin-right: 40px;
    }
    #right {
        display: none;
    }
    #rightcolor {
        margin-top: -562px;
        width: 100%;
        min-height: 74vh;
        /* border-top-left-radius: 31% 50%; */
        /* border-top-right-radius: 25%; */
    }
    #leftdiv {
        width: 327%;
        top: 75%;
        padding: 0px 10px;
    }
    #leftdiv p {
        width: 275px;
    }
    #leftdiv>#btn2 {
        margin-top: 50px;
    }
    #btm {
        height: 50vh;
        position: static;
        margin-top: 95%;
        flex-direction: column;
        width: 100%;
        /* background-color: aqua; */
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    #logo {
        margin-left: -41px;
    }
    #f {
        margin-left: -16px;
    }
    #g {
        margin-left: -24px;
    }
    #h {
        margin-left: 30px;
    }
    #dogone {
        top: 79%;
        width: 140%;
    }
    #dog {
        top: 14%;
        left: -75%;
        position: absolute;
        height: 59%;
        width: 155%;
    }
    #second {
        margin-top: 130px;
    }
    #leftdiv h3 {
        width: 250px;
        /* background-color: lawngreen; */
    }
    #dogone p {
        font-size: 17px;
    }
    #ek {
        display: none;
    }
    #do {
        display: none;
    }
    #three {
        display: none;
    }
    #four {
        display: none;
    }
    #five {
        display: none;
    }
    #six {
        display: none;
    }
    #kkkk h3 {
        border: 1px solid transparent;
    }
    #h {
        margin-bottom: 60px;
    }
    #logo {
        position: absolute;
        bottom: 0;
        height: 10vh;
        background-color: #222020;
        color: grey;
        width: 110vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}